<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bible.germanbible.tamilbible">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="bible.germanbible.tamilbible.TamilSongsActivity"></activity>
        <activity
            android:name="bible.germanbible.tamilbible.EditNotesActivity"
            android:label="Update Notes" />
        <activity
            android:name="bible.germanbible.tamilbible.AddNotesActivity"
            android:label="Add Notes" />
        <activity
            android:name="bible.germanbible.tamilbible.NotesViewActivity"
            android:label="Notes" />
        <activity
            android:name="bible.germanbible.tamilbible.NotesActivity"
            android:label="All Notes" />
        <activity android:name="bible.germanbible.tamilbible.QuotesActivity" />
        <activity android:name="bible.germanbible.tamilbible.TamilPraiseActivity" />
        <activity android:name="bible.germanbible.tamilbible.SettingsActivity" />
        <activity android:name="bible.germanbible.tamilbible.BookmarkActivity" />
        <activity
            android:name="bible.germanbible.tamilbible.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="bible.germanbible.tamilbible.PraisesActivity" />
        <activity android:name="bible.germanbible.tamilbible.LyricsActivity" />
        <activity android:name="bible.germanbible.tamilbible.SongsActivity" />
    </application>

</manifest>